h1 {
    color: red;
}
p {
    background-color: grey;
    color:white;
}
.first {
    background-color: gray;
}
.second {
    background-color: aqua;
}
#english {
    background-color: bisque;
}
nav ul li {
    font-size: 50px;
    border: 10px dashed blueviolet;
}